#list {
  border-collapse: collapse;
  width: 100%;
}
#list th {
  background-color: #00ef5c;
  color: rgb(214, 16, 16);
}
#list th,
#list td {
  border: 2px solid #00ef5c;
  text-align: center;
  padding: 8px;
}
#list tr:nth-child(even) {
  background-color: #f2f2f2;
}
